*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  margin-top: 100px;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 100px;
  padding: 5px;
  top: 0;
  left: 0;
  background: #343434;
}
a{
  text-decoration: none;
  color: inherit;
  padding: 15px;
}
a:hover {
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
}