.card {
    background: #020617;
    color: #e5e7eb;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
    margin-bottom: 15px;
}

.card h2 {
    margin: 5px 0;
    color: #38bdf8;
}

.card p {
    margin: 6px 0;
    font-size: 14px;
    color: #cbd5f5;
}

.info {
    background: #020617;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 13px;
}

.info span {
    color: #38bdf8;
    font-weight: bold;
}