#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.clockContainer{
  padding: 40px;
  border: 1px solid gray;
  border-radius: 20px;
}

button {
  margin: 0 10px;
  width: 100px;
}