
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 100px;
}