* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: black;
}
ul {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    font-size: 1.25em;
    list-style-type: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 50px;
    cursor: pointer;
}
ul li:hover {
    background-color: rgb(35, 35, 35);
}

a{
  text-decoration: none;
  color: inherit;
}