.counterContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counterHolder{
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.countBtn {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: x-large;
    margin: 20px;
    border: none;
}
.countBtn:hover {
    scale: 1.1;
}
.countBtn:active {
    scale: 1.05;
}

.count{
    font-size: 70px;
}